// ПРАВИЛО ДЛЯ БЭКГРАУНДА
.hero {
    max-width: 100%;
    height: 400px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (max-width: 767px) {
      max-width: 480px;
      background-size: 480px 400px;
    background-color: $bg-hero-gradient;
    background-image: linear-gradient(
        to right,
        rgba(47, 58, 57, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobil-min.jpg);}
    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
      to right,
      rgba(47, 58, 57, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-mobil-2-min.jpg);
    
  
}

    @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 400px;
        background-size: 768px 400px;
        background-image: linear-gradient(
            to right,
            rgba(47, 58, 57, 0.4),
            rgba(47, 48, 58, 0.4)
          ), url(../images/hero-tablet-min.jpg);
    
    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
      to right,
      rgba(47, 58, 57, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-tablet-2-min.jpg);
  
}}

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-size: 1600px 600px;
        background-image: linear-gradient(
            to right,
            rgba(47, 58, 57, 0.4),
            rgba(47, 48, 58, 0.4)
          ), url(../images/hero-desktop-min.jpg);
    
    @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
        to right,
        rgba(47, 58, 57, 0.4),
        rgba(47, 48, 58, 0.4)),
      url(../images/hero-desktop-2-min.jpg);
    
  }}
  }
// ПРАВИЛО ДЛЯ ЗАГОЛОВКА

  .hero__title {
    margin-top: 0;
    margin-bottom: $card-set-gap;
    color: $white-color;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
    font-size: 44px;
  } 
}
// ПРАВИЛО ДЛЯ КНОПКИ
  .hero__button {
    @extend %button;
    color: $white-color;
    background-color: $accent-color;
  
    transition-property: background-color;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
        &:hover,
        &:focus {
        cursor: pointer;
        background-color: $hover-color;
  }}