// ПРАВИЛО ДЛЯ ЛОГОТИПА
.logo {
    font-family: raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $accent-color;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
    }
  }
  .logo .studio {
    color: $title-text-color;
  }
  .footer__studio {
    color: $white-color;
  }