 // ПРАВИЛА ДЛЯ ФОРМЫ МОДАЛЬНОГО ОКНА

 .modal__form {
    width: 100%;
   }
  
  .modal__provoke-text {
    display: inline-block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: $title-text-color;
  } 
  
  .modal__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  }
  
  .modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-5%);
  }
  
  .modal__input{
    height: 40px;
    border: 1px solid $input-color;
    border-radius: 4px;
    padding: 11px 12px 11px 43px;
  
    transition-property: border, fill;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        border: 1px solid $accent-color;
        outline: none;
    }
}
  .modal__input + .modal__icon{
    transition-property:  fill;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  
}
  .modal__input {
  &:hover + .modal__icon,
  &:focus + .modal__icon {
  fill: $accent-color;
  }
}
  .modal__label {
    font-size: 12px;
    margin-bottom: 4px;
  }

//   ПРАВИЛО ДЛЯ КОМЕНТАРИЯ (TEXTAREA)
  .modal__comment {
    width: inherit;
    height: 120px;
    border: 1px solid $input-color;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
  
    transition-property:  border;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &::placeholder {
            font-size: 14px;
            color: $placeholder-color;
          }
        &:hover,
        &:focus {
        border: 1px solid $accent-color;
        outline: none;    
  }
  }
  
// ПРАВИЛА ДЛЯ ЧЕКБОКСА
.modal__checkbox {
    margin-top: 20px;
  }
.modal__checkbox-icon {
    margin-right: 7px;
    width: 16px;
    height: 15px;
    fill: $white-color;
    border: 2px solid $title-text-color;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
  }
  .modal__checkbox-label {
   font-size: 12px;
   display: inline-block;
   margin-bottom: 30px;
   cursor: pointer;
  
   @media screen and (min-width: 480px){ 
    display: flex;
    align-items: center;
    justify-content: center;
   }
   @media screen and (min-width: 1200px) {
    font-size: 14px;
   }
  }
  
  
  .modal__checkbox-input {
    &:focus + .modal__checkbox-label .modal__checkbox-icon{
    border: 3px solid $accent-color;
  }
}
  .modal__checkbox-input {
    &:checked + .modal__checkbox-label .modal__checkbox-icon {
    background-color: $accent-color;
    border-color: $accent-color;
    border-radius: 4px;
  }
}
  .modal__checkbox-link {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    }
