// ПРАВИЛО ДЛЯ БЕКДРОПА
.backdrop {
    position: fixed;
    padding-left: 15px; 
    padding-right: 15px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: $viewport-modal-background;
    opacity: 1;
    transition-property: opacity;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
//   ПРАВИЛА ДЛЯ МОДАЛЬНОГО ОКНА
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    max-width: 450px;
    max-height: 609px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    transition-property: transform;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    background-color: $white-color;
    border-radius: 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      
      @media screen and (min-width: 1200px) {
        max-width: 528px;
        height: 581px;
      }
  }
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.3);
  }
  [data-modal-close] {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid $modal-button-color;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: fill;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        fill: $accent-color;
    }
  }

// ПРАВИЛО ДЛЯ КНОПКИ МОДАЛЬНОГО ОКНА
.modal__button{
  @extend %button;
    display: block;
    margin: auto;
    color: $white-color;
    background-color: $accent-color;
  
    transition-property: background-color, box-shadow;
    transition-duration: $transition-time;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        cursor: pointer;
        background-color: $hover-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        border-radius: 4px;
      }
  }
 